<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container  body-content"></body>
<h1>Forgot Password?</h1>

<!--Remember to put the action and make sure this renders-->

<!--<nav th:replace="~{fragments :: page-header}"></nav>-->

<form method="post" action='recovery/ForgotPassword'style="max-width:600px;">
    <div class="form-group">
        <label th:for="submitUsername">What is your username?</label>
        <input name="submitUsername" type = "text" th:field="submitUsername" />
<!--        <span th:errors="${user.username}" class="error"></span>-->
    </div>
    <input type="submit" value="Next" />
</form>
</body>
</html>

<!--<!submitUsername is the variable I use to store a user>-->