<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container  body-content">
<h1>Security  Questions</h1>

<!--<nav th:replace="~{fragments :: page-header}"></nav>-->

<form method="post" style="max-width:600px;">
<!--    <span th:errors="${Error}" class="error"></span>-->
    <div class="form-group">
        <label th:for="momMaidenName">What is your mother's maiden name?</label>
        <input class="form-control" name="momMaidenName" />
    </div>

    <div class="form-group">
        <label th:for="birthLocation">What was the location of your birth?</label>
        <input class="form-control" name="birthLocation" />
    </div>

    <div class="form-group">
        <label th:for="firstKiss">What was the name of your first kiss?</label>
        <input class="form-control" name="firstKiss" />
    </div>
<!--    <div class="form-group">-->
<!--        <label th:for="birthday">What is your birthday (Month/Day/Year) </label>-->
<!--        <input class="form-control" th:field="${employer.birthday}" />-->
<!--        <td th:text="${#dates.format(sprint.releaseDate, 'dd-MMM-yyyy')}"></td>-->
<!--        <span th:errors="${user.birthday}" class="error"></span>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label th:for="birthTime">What was the time of your birth? </label>-->
<!--        <input class="form-control" th:field="${user.birthTime}" />-->
<!--        <td th:text="${#dates.format(sprint.releaseDate, 'dd-MMM-yyyy')}"></td>-->
<!--        <span th:errors="${user.birthTime}" class="error"></span>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label th:for="specialNumber">Please choose a special number between 10-1000</label>-->
<!--        <input class="form-control" th:field="${user.specialNumber}" />-->
<!--        <span th:errors="${user.specialNumber}" class="error"></span>-->
<!--    </div>-->
    <div class="form-group">
        <label th:for="firstLocation">What was the location of your first memory?</label>
        <input class="form-control" name="firstLocation" />
    </div>
<div class="form-group">
    <label th:for="firstWord">What was your first word as a baby or child?</label>
    <input class="form-control" name="firstWord" />
</div>
     <p>
    <div class="form-group">
        <label th:for="resetPassword">Please reset your password</label>
        <input class="form-control" name ="resetPassword"/>
    </div>
    <div class="form-group">
        <label th:for="repeatNewPassword">Please enter your new password again</label>
        <input class="form-control" name ="repeatNewPassword" />
    </div>
       <p>
    <input type="submit" value="Submit Answers" />
</form>

</body>
</html>