<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container  body-content">


<!-- from Cheri's Code -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>Account Registration</title>
</head>
<body class="container body-content">

<br>
<p>Already registered?
    <a href="/" th:href="@{/users/login}">Login</a>
</p>

<!-- HTML registration form -->
<h1>New User Registration</h1>

<!-- <form method="post" style="max-width:600px;"> -->
<form method="post"
      th:action="@{/user/register}"
      th:object="${user}"
>
    <div class="form-group">
        <label>User Name
            <input
                    class="form-control"
                    th:field="${registerFormDTO.username}"
                    required autofocus="autofocus"
            />
        </label>
        <p class="error"
           th:errors="${registerFormDTO.username}" >
        </p>
    </div>

    <div class="form-group">
        <label>Password
            <input class="form-control"
                   type="password"
                   th:field="${registerFormDTO.password}"
            />
        </label>
        <p class="error"
           th:errors="${registerFormDTO.password}"></p>
    </div>

    <div class="form-group">
        <label>Confirm Password
            <input class="form-control"
                   type="password"
                   th:field="${registerFormDTO.verifyPassword}"
                   required autofocus="autofocus"
            />
        </label>
        <p class="error"
           th:errors="${registerFormDTO.verifyPassword}"
           style="color:red;">
        </p>
    </div>

    <div class="form-group">
        <label>Email
            <input class="form-control"
                   th:field="${registerFormDTO.email}"
                   required autofocus="autofocus" />
        </label>
        <p class="error"
           th:errors="${registerFormDTO.email}"
           style="color:red;">
        </p>
    </div>

<h1>Security  Questions</h1>

<!--<nav th:replace="~{fragments :: page-header}"></nav>-->
    <div class="form-group">
        <label th:for="momMaidenName">What is your mother's maiden name?</label>
        <input class="form-control" th:field="${registerFormDTO.passwordSecurityQuestions.momMaidenName}" />
        <span th:errors="${registerFormDTO.passwordSecurityQuestions.momMaidenName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="birthLocation">What was the location of your birth?</label>
        <input class="form-control" th:field="${registerFormDTO.passwordSecurityQuestions.birthLocation}" />
        <span th:errors="${registerFormDTO.passwordSecurityQuestions.birthLocation}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="firstKiss">What was the name of your first kiss?</label>
        <input class="form-control" th:field="${registerFormDTO.passwordSecurityQuestions.firstKiss}" />
        <span th:errors="${registerFormDTO.passwordSecurityQuestions.firstKiss}" class="error"></span>
    </div>
    <!-- <This is for when I want to implement "personal questions"> -->
    <!--    <div class="form-group">-->
    <!--        <label th:for="birthday">What is your birthday (Month/Day/Year) </label>-->
    <!--        <input class="form-control" th:field="${employer.birthday}" />-->
    <!--        <td th:text="${#dates.format(sprint.releaseDate, 'dd-MMM-yyyy')}"></td>-->
    <!--        <span th:errors="${user.birthday}" class="error"></span>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--        <label th:for="birthTime">What was the time of your birth? </label>-->
    <!--        <input class="form-control" th:field="${user.birthTime}" />-->
    <!--        <td th:text="${#dates.format(sprint.releaseDate, 'dd-MMM-yyyy')}"></td>-->
    <!--        <span th:errors="${user.birthTime}" class="error"></span>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--        <label th:for="specialNumber">Please choose a special number between 10-1000</label>-->
    <!--        <input class="form-control" th:field="${user.specialNumber}" />-->
    <!--        <span th:errors="${user.specialNumber}" class="error"></span>-->
    <!--    </div>-->
    <div class="form-group">
        <label th:for="firstLocation">What was the location of your first memory?</label>
        <input class="form-control" th:field="${registerFormDTO.passwordSecurityQuestions.firstLocation}" />
        <span th:errors="${registerFormDTO.passwordSecurityQuestions.firstLocation}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="firstWord">What was your first word as a baby or child?</label>
        <input class="form-control" th:field="${registerFormDTO.passwordSecurityQuestions.firstWord}" />
        <span th:errors="${registerFormDTO.passwordSecurityQuestions.firstWord}" class="error"></span>
    </div>

    <input type="submit"
           class="btn btn-success"
           value="Create Account" />

    <!--    <input type="submit" value="Submit Answers" />-->
</form>

</body>
</html>