<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:fragment="header">-->
<!--    <meta charset="UTF-8"/>-->
<!--    <h1>Create Tag</h1>-->
<!--    <link rel="stylesheet" th:href="@{/styles.css}" />-->


<!--</head>-->
<!--<body>-->
<!--<form action='/tags/create' method='POST'>-->
<!--    <label for='tagName'>Tag:</label>-->
<!--    <input type='text' id='tagName' name='tagName' required><br>-->
<!--    <button type='submit'>Add Tag</button>-->
<!--</body>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<header th:replace="~{fragments :: header}"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${tag.name}" class="form-control">
        </label>
        <span th:errors="${tag.name}" class="error"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>