<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>Account Registration</title>
</head>
<body class="container body-content">

<nav th:replace="~{fragments :: page-header}"></nav>

<h1>New User Registration</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="username">User Name</label>
        <input class="form-control" th:field="${users.username}" />
        <span th:errors="${users.username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="${users.password}" />
        <span th:errors="${users.password}" class="error"></span>
    </div>

    <div>
        <label>New user?</label>
        <link th:href="http://localhost:8080/users/register.html"/>
    </div>
</form>

</body>
</html>