<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Travel Diary</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <script th:src="@{/theme.js}"></script>
    <link rel ="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <nav th:replace="fragments :: navigation"></nav>
</header>

<form action='/trips/delete' method='POST'>
    <label th:each="trip : ${tripList}">
        <input type="checkbox" name="tripId" th:value="${trip.id}" />
        <span th:text="${trip.tripName}"></span>
    </label>
    <button type='submit'>Delete Trip</button>
</form>
</body>
</html>
