<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container  body-content">
<h1>Log In</h1>


<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="${user.username}" />
        <span th:errors="${user.username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="${user.password}" />
        <span th:errors="${user.password}" class="error"></span>
        <a th:href="@{'/users/ForgotPassword'}">Forgot Password?</a>
    </div>
    <input type="submit" value="Log in" />
</form>

</body>
</html>