<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel ="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script th:src="@{/theme.js}"></script>
    <link rel="stylesheet" th:href="@{styles.css}" />

</head>
<h1>Log In</h1>

<div>
    <a href="/recovery/ForgotPassword">Forgot Password?</a>
</div>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="${user.username}" />
        <span th:errors="${user.username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="${user.password}" />
        <span th:errors="${user.password}" class="error"></span>
    </div>
    <input type="submit" value="Log in" />
</form>

</body>
</html>