<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Travel Diary</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <script th:src="@{/theme.js}"></script>
</head>
<body>
<form th:action="@{'/trips/edit/' + ${trip.id}}" method="POST" th:object="${trip}">
    <label for="tripName">New Trip Name:</label>
    <br> <input type="text" id="tripName" name="tripName" th:field="*{tripName}" required><br>

    <label for="description">Description:</label>
   <br> <textarea id="description" name="description" th:field="*{description}" rows="4" cols="50"></textarea><br>

    <br> <button type="submit">Save Changes</button>
</form>

</body>
</html>